.navbar {
        box-shadow: -1.4px -1.4px 6px 0 #97a2a0;      
}
.navbar .wrapper {
        display:flex;
        justify-content:space-between;
        align-items:center;
        height: 84px;
        background: white;
        padding: 0px 20px;
}
.navbar__site-name {
        color: #489846;
        font-size: 36px;
}
.navbar__list {
        list-style:none;
        margin:0;
        padding:0;
        display: flex;
        flex-direction: row;
        font-size:18px;
}
.navbar__list li {
        margin-left:12px;
        border-radius:8px;
        transition: background 0.2s ease-in;    
}
.navbar__list li.active , .navbar__list li:hover {
        background: #ff7286;
}
.navbar__list li.active a ,.navbar__list li:hover a {
        color: white;
}
.navbar__list li a {
        display: block;
        text-decoration:none;
        color:black;
        padding:13px 25px 14px;     
}
.wrapper {
        max-width:1280px;
        margin:0 auto;
        padding: 0px 12px;
        }
.banner {
        position: relative;
        height:500px;
        background: url("bg.jpg") center/cover no-repeat
}
.banner:after {
        content: "";
        position: absolute;
        background:rgba(0,0,0,0.3);
        top:0;
        left:0;
        right:0;
        bottom:0;
}
.banner h1{
        display:inline-block;
        position: relative;
        margin:0;
        color:white;
        z-index:2;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 60px;
        font-weight: bold;
}
h2 {
        margin:0;
}
.section {
        text-align:center;
        margin-top:80px;
}
.section__title {
        display:inline-block;
        font-size: 36px;
        border-left:solid 15px #a3dea2;
        padding-left:17px;
        margin-bottom:44px;
}
.section_desc {
        font-size:16px;
        line-height:2em;
        margin:0px 0px 68px 0px;
}
.button {
        padding:60px 80px;
        font-size:36px;
        display:inline-block;
        border-radius:10px;
        cursor: pointer;
}

.button:hover {
        transform:scale(1.1);
}
.btn-order {
       background: #a8e8e1; 
}
.btn-query {
        margin-left:23px;
        background: #f9f9b5;
}
.section__images {
        display:flex;
}
.section__images div {
        width:25%;
}
.section__images img {
        width:100%;
}
footer {
        margin-top:43px;
}
.footer__bottom {
        background:#35564b ;
        color:white;
        font-size: 16px;
        text-align:center;
        padding:12px ;
}
.footer__top {
        background: #e8efee;
        padding: 32px;
        color:#484848;                
}
.footer__top .wrapper {
        display:flex;
        justify-content: space-between;
}

.footer__info {
        margin-right:16px;
}
.footer__info div + div {
        margin-top: 10px;
}
.footer__site {
        font-size: 36px;
        color:#489846
}
.text {
      font-size:16px;
      
}
.comments {
      display:inline-block;
      border :solid #c7e5ec 1px;
      background: white;
      width: 565px;
      position:relative;
}
.comments__pic {
      display:inline-block;
      position:absolute;
      border:1px solid #c1c1c1;
      border-radius:50%;
      left:50%;
      top:0%;
      transform: translate(-50%,-50%);
}
.comments__word {
      padding:93px 39px 24px 19px;
      text-align:center;
}
.comments__name {
      position:absolute;
      transform: translate(-50%,-50%);
      left:50%;
      top:70px;     
}
.container__comment {
      display:flex;
      padding:45px 96px 0px 97px;
}
.container__comment :nth-child(2),.container__comment :nth-child(3) {
      margin-left:16px;
}


@media(max-width:768px){
      .navbar .wrapper {
              height: 108px;
              flex-direction: column;
              justify-content:space-between;
              padding: 0px;
        }
        .navbar__site-name {
                margin-top: 10px;
        }
        .navbar__list {
        display: flex;
        width:100%
        }
        .navbar__list li {
        flex: 1;
        margin-left:0;
        border-radius: 0;
        text-align:center;
        }
        .btn-query {
                margin-left:0;
                margin-top:16px;
        }
        .section__images {
                flex-direction: column;
        }
        .section__images div {
                width: 100%;
        }
        .footer__top .wrapper {
                flex-direction: column-reverse;
        }
        .footer__info {
                margin-right: 0;
                margin-top: 16px;
        }
        .container__comment {
                display:flex;
                flex-direction: column;
                align-items: center;
        }
        .container__comment :nth-child(2),.container__comment :nth-child(3) {
                margin-left:0px;
        }
        .comments {
                height:205px;
        }
        

}